language: go

go:
  - 1.13.x

notifications:
  email:
    on_success: change
    on_failure: change

env:
 - RELEASE=master SLEEP=60

script:
 - set -e
 - cat go.mod
 - go test -v ./... 
 - go get github.com/securego/gosec/cmd/gosec
 - gosec ./...
 - go get honnef.co/go/tools/cmd/staticcheck
 - staticcheck ./...
 - cd server
 - git clone https://github.com/stts-se/lexdata.git
 - bash setup.sh lexdata ss_files
 - go run *.go -ss_files ss_files &
 - export pid=$!
 - echo "symbolset server started on pid $pid. wait for $SLEEP seconds before shutting down"
 - sleep $SLEEP
 - cd -
 - sh .travis/exit_server_and_fail_if_not_running.sh pronlex $pid
 

